@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}
@model IEnumerable<Movie>

<section class="feature spad">
    <div class="container">
        <div class="row">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="~/images/Movies/Poster1.jpg" alt="Poster1">
                </div>
                <div class="mySlides fade">
                    <img src="~/images/Movies/Poster2.jpg" alt="Poster2">
                </div>
                <div class="mySlides fade">
                    <img src="~/images/Movies/Poster3.jpg" alt="Poster3">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(0)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Phim nổi bật</h2>
                </div>
                <div id="MovieGenre" class="featured__controls">
                    @await Component.InvokeAsync("MovieGenre")
                </div>
            </div>
        </div>
    </div>
    
    <div id="content">
        <div class="row featured__filter">
            <div class="custom-flex-container">
                @foreach (var movie in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="container-inside">
                            <div class="card" style="width: 18rem;">
                                <img src="~/images/Movies/@movie.Poster" class="card-img-top" alt="@movie.Name">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@movie.Name</h5>
                                    <p class="card-text text-dark">@movie.MovieGenre?.Name</p>
                                    <p class="card-text text-dark">@movie.ReleaseDate.ToString("dd-MM-yyyy")</p>
                                    <div class="card-buttons">
                                        <a href="#" class="btn btn-info">Chi tiết</a>
                                        <a href="#" class="btn btn-primary">Mua vé</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <ul class="pagination" style="justify-content: center">
            <li class="page-item @(ViewBag.currentPage == 1 ? "disabled" : "")" page="@(ViewBag.currentPage - 1)"
            @(ViewBag.mid != null ? "mid=" + ViewBag.mid : "")
            @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
                <a class="page-link" href="#"><i class="fa-solid fa-chevron-left"></i></a>
            </li>

            @for (int i = 1; i <= ViewBag.pageNum; i++)
            {
                <li class="page-item @(ViewBag.currentPage == i ? "active" : "")" page="@i"
                @(ViewBag.mid != null ? "mid=" + ViewBag.mid : "")
                @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
                    <a class="page-link" href="#">@i</a>
                </li>
            }

            <li class="page-item @(ViewBag.currentPage == ViewBag.pageNum ? "disabled" : "")" page="@(ViewBag.currentPage + 1)"
            @(ViewBag.mid != null ? "mid=" + ViewBag.mid : "")
            @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
                <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
            </li>
        </ul>




    </div>
</section>

@section Scripts {
    <script>
        // khai báo biến slideIndex đại diện cho slide hiện tại
        var slideIndex;
        // khai bào hàm hiển thị slide
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }

            slides[slideIndex].style.display = "block";
            dots[slideIndex].className += " active";
            //chuyển đến slide tiếp theo
            slideIndex++;
            //nếu đang ở slide cuối cùng thì chuyển về slide đầu
            if (slideIndex > slides.length - 1) {
                slideIndex = 0
            }
            //tự động chuyển đổi slide sau 5s
            setTimeout(showSlides, 5000);
        }
        //mặc định hiển thị slide đầu tiên
        showSlides(slideIndex = 0);

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        // Thêm script ajax cho click vào page-item, bao gồm Previous và Next
        $('body').on('click', 'li.page-item:not(.disabled)', function (e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
            var page = $(this).attr("page");
            var mid = $(this).attr("mid");
            var keyword = $(this).attr("keyword");
            var data = { mid: mid, keyword: keyword, pageIndex: page };
            $.ajax({
                url: '@Url.Action("MovieFilter", "Home")',
                data: data,
                success: function (response) {
                    $("div#content").html(response); // Cập nhật nội dung danh sách phim
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        });

        // Xử lý click cho các nav-item
        $(".nav li").click(function (e) {
            var id = $(this).attr("id");
            var keyword = $("#keyword").val(); // Lấy giá trị keyword từ input
            var data = { mid: id, keyword: keyword, pageIndex: 1 }; // Gửi cả mid, keyword và chỉ số trang
            $.ajax({
                url: '@Url.Action("MovieFilter", "Home")',
                data: data,
                success: function (response) {
                    $("div#content").html(response); // Cập nhật nội dung danh sách phim
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        });

        // Xử lý click cho nút tìm kiếm
        $("button#btnNavbarSearch").click(function (e) {
            var keyword = $("#keyword").val();
            var mid = $(".nav .active").attr("id"); // Lấy mid từ nav-item đang active
            var data = { keyword: keyword, mid: mid, pageIndex: 1 }; // Gửi cả keyword, mid và chỉ số trang
            $.ajax({
                url: '@Url.Action("MovieFilter", "Home")',
                data: data,
                success: function (response) {
                    $("div#content").html(response); // Cập nhật nội dung danh sách phim
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        });



    </script>
}


