@{
    ViewData["Title"] = "Phim";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@model IEnumerable<Movie>

<div class="container mt-4">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div class="text-center mb-4">
        <a href="@Url.Action("Index", new { status = "dangchieu" })" class="btn btn-primary">Phim đang chiếu</a>
        <a href="@Url.Action("Index", new { status = "sapchieu" })" class="btn btn-secondary">Phim sắp chiếu</a>
    </div>
    <div class="row py-2 mt-auto">
        @foreach (var movie in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 mb-4 d-flex justify-content-center">
                <div class="card h-100" style="width: 18rem;">
                    <img src="~/images/Movies/@movie.Poster" class="card-img-top img-fluid" alt="@movie.Name" style="height: 300px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-dark">@movie.Name</h5>
                        <p class="card-text text-dark">@movie.MovieGenre?.Name</p>
                        <p class="card-text text-dark">@movie.Duration phút</p>
                        <p class="card-text text-black">
                            @if (movie.ReleaseDate >= DateTime.Now)
                            {
                                <span>@movie.ReleaseDate.ToString("dd-MM-yyyy")</span>
                            }
                        </p>
                        <div class="card-buttons mt-auto d-flex flex-wrap justify-content-between">
                            @if (movie.ReleaseDate < DateTime.Now)
                            {
                                <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id" class="btn btn-info mb-2">Chi tiết</a>
                                <a asp-controller="Tickets" asp-action="Purchase" asp-route-movieId="@movie.Id" class="btn btn-primary mb-2">Mua vé</a>
                            }
                            else
                            {
                                <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id" class="btn btn-info mb-2">Chi tiết</a>
                            }
                            @if (User.IsInRole(OnlineMovieTicketBookingWeb.Data.RoleName.Administrator) || User.IsInRole(OnlineMovieTicketBookingWeb.Data.RoleName.Staff))
                            {
                                <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning mb-2">Sửa</a>
                                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger mb-2">Xóa</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
